/* ---------- Color Module Styles ----------- */

body {
    color: #201e1e;
    background: #212529;
}

#page,
#main-wrapper,
.region-primary-menu .menu-item a.is-active,
.region-primary-menu .menu-item--active-trail a {
    background: #ffffff;
}

.tabs ul.primary li a.is-active {
    background-color: #ffffff;
}

.tabs ul.primary li.is-active a {
    background-color: #ffffff;
    border-bottom-color: #ffffff;
}

#navbar-top {
    background-color: #212529;
}

#navbar-main {
    background-color: #343a40;
}

#navbar-main a,
#navbar-main a.is-active {
    color: #fffeff;
}

a,
.link {
    color: #2156ab;
}

a:hover,
a:focus,
.link:hover,
.link:focus {
    color: #1463e2;
}

a:active,
.link:active {
    color: #3c83f5;
}

.page-item.active .page-link {
    background-color: #2156ab;
    border-color: #2156ab;
}

.page-link,
.page-link:hover {
    color: #2156ab;
}

.sidebar .block {
    background-color: #f1f4f0;
    border-color: #ededed;
}

.btn-primary {
    background-color: #1281d6;
    border-color: #1281d6;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #0f61a9;
}

.site-footer {
    background: #212529;
}

.region-header,
.region-header a,
.region-header li a.is-active,
.region-header .site-branding__text,
.region-header .site-branding,
.region-header .site-branding__text a,
.region-header .site-branding a,
.region-secondary-menu a,
.region-secondary-menu a.is-active {
    color: #fffeff;
}


/* ---------- Color Form ----------- */

[dir="rtl"] .color-form .color-palette {
    margin-left: 0;
    margin-right: 20px;
}

[dir="rtl"] .color-form .form-item label {
    float: right;
}

[dir="rtl"] .color-form .color-palette .lock {
    right: -20px;
    left: 0;
}